<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AutoIncFactoryService</display-name>
<!--   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list> -->
  <welcome-file-list>
    <welcome-file>Servlet3</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Sample</servlet-name>
    <servlet-class>com.autoinc.controller.AutoIncFactorySignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sample2</servlet-name>
    <servlet-class>com.autoinc.controller.AutoIncFactoryLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sample3</servlet-name>
    <servlet-class>com.autoinc.controller.AutoIncFactoryHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample3</servlet-name>
    <url-pattern>/Servlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sample4</servlet-name>
    <servlet-class>com.autoinc.controller.AutoIncFactoryDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample4</servlet-name>
    <url-pattern>/Servlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showProducts</servlet-name>
    <servlet-class>com.autoinc.controller.ShowProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showProducts</servlet-name>
    <url-pattern>/showProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkAvailability</servlet-name>
    <servlet-class>com.autoinc.controller.CheckAvailabilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkAvailability</servlet-name>
    <url-pattern>/checkAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findTotalCost</servlet-name>
    <servlet-class>com.autoinc.controller.FindTotalCostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findTotalCost</servlet-name>
    <url-pattern>/findTotalCost</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>proceedToOrder</servlet-name>
    <servlet-class>com.autoinc.controller.OrderProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>proceedToOrder</servlet-name>
    <url-pattern>/proceedToOrder</url-pattern>
  </servlet-mapping>
  
</web-app>